* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

.navBar {
    background-color: rgb(5, 9, 51);
    font-size: 36px;
    padding-bottom: 15px;
    position: relative;
}

.headTitle h1 {
    color: white;
}


.headTitle {
    text-decoration: none;
}

.headTitle:active {
    color: white;
}

span {
    color: rgb(79, 53, 203);
}