.searchBar {
    margin-top: 3%;
    font-size: 2rem;
    padding: 5px 15px;
    border: none;
    max-width: 60%;
    min-height: 50px;
    height: 1.5rem;

}

.searchButton {
    margin-top: 2%;
    width: 10%;
    height: 3.5rem;
    background-color: rgb(5, 9, 51);
    color: aliceblue;
    font-size: 2rem;
    border-radius: 30px;
    border: none;
}

button:active {
    background-color: rgb(87, 58, 227);
}

@media only screen and (max-width: 560px) {
    .searchButton {
        min-width: 200px;
    }
}