/* Style the search bar */
.searchBar {
    margin-top: 3%;
    font-size: 2rem;
    padding: 5px 15px;
    border: none;
    max-width: 60%;
    min-height: 50px;
    height: 1.5rem;

}

/* Style the search button */
.searchButton {
    margin-top: 2%;
    width: 10%;
    height: 3.5rem;
    background-color: rgb(5, 9, 51);
    color: aliceblue;
    font-size: 2rem;
    border-radius: 30px;
    border: none;
}

/* Style change of color when the button is clicked */
button:active {
    background-color: rgb(87, 58, 227);
}

/* Conditional styling for mobile compatibility */
@media only screen and (max-width: 560px) {
    .searchButton {
        margin-top: 20px;
        height: 50px;
        min-width: 180px;
    }
}