/* Style section. Both search results and tracklist contain use same styling to maintain symmetricity */
.searchSection {
    width: 50%;
    max-height: 800px;
    background-color: rgba(15, 12, 68, 0.8);
    color: aliceblue;
    margin: 50px;
    padding: 20px;
    box-shadow: 3px 3px 3px 3px rgb(15, 12, 68);
    overflow: auto;
}

/* Set width to fill full container */
.searchContainer {
    width: 100%;
}

/* Style hr to give margin and width */
hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
}

/* Style the search results heading */
.searchResults {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: 10px;
}

/* Conditional styling for mobile device */
@media only screen and (max-width: 560px) {

    .searchSection {
        margin: 20px 10px 10px 10px;
        padding: 10px;
        max-height: 600px;
    }

    .searchResults {
        font-size: 1.5rem;
    }
}