.trackContainer {
    display: flex;
    align-items: center;
}

.symbolDiv {
    margin-left: auto;
}

/* Style + and - symbol for add/remove tracks */
.symbol {
    color: white;
    margin-left: auto;
}

/* Give symbol a different color when clicked to simulate blinking */
.symbol:active {
    color: gray;
}

/* Style song title */
.songTitle {
    font-size: 2rem;
    font-weight: 600;
}

/* Style hr divider  */
hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
}

/* Style song info; artist and album */
.songInfo {
    font-weight: 400;
    color: rgba(255, 255, 255, 0.7);
}

/* Conditional styling for mobile devices */
@media only screen and (max-width: 560px) {
    .songTitle {
        font-size: 1.2rem;
        font-weight: 600;
    }

    .songInfo {
        font-weight: 400;
        font-size: 1rem;
        color: rgba(255, 255, 255, 0.7);
    }
}